# PostgreSQL
POSTGRES_USER=black
POSTGRES_PASSWORD=black123
POSTGRES_DB=black_db

# Kafka
KAFKA_BOOTSTRAP_SERVERS=localhost:9092

# MongoDB
MONGO_URI=mongodb://localhost:27017/black_db

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379